[submodule "innertube"]
	path = modules/innertube
	url = https://github.com/Space4414/innertube-kotlin.git
[submodule "strings-modifier"]
	path = scripts/strings-modifier
	url = https://gitlab.com/tannguyen047/string-modifier
[submodule "modules/kizzy"]
	path = modules/kizzy
	url = https://github.com/knighthat/Kizzy
